<ion-header class="content-header">
  <ion-toolbar>
    <ion-title> Início </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content slot="center">
  <ion-router-outlet></ion-router-outlet>
</ion-content>

<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="home">
      <ion-icon name="home"></ion-icon>
      Início
    </ion-tab-button>
    <ion-tab-button tab="calculadora">
      <ion-icon name="calculator"></ion-icon>
      Calculadora
    </ion-tab-button>
    <ion-tab-button tab="radio">
      <ion-icon name="calendar"></ion-icon>
      Calendário
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
